$color-light: #F9AC75;
$color-dark: #F3630D;
$background-footer: #F9AC75;
$text-color-dark: #474431;
$text-color-midle: #B8B294;
$text-color-light: #dbdbdb;
$button-color: #F3630D;
$background-body: #FAFAEE;
$background-line: url(../images/background-line.png);
$main-font-family: 'Bebas', arial;
$font-family-second: 'Roboto', sans-serif; 